/* Reset some basic elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: #f8f9fa;
    color: #343a40; */
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Container for main content */
.main-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header styles */
.header {
    /* background-color: #343a40;
    color: #ffffff; */
    width: '100%';
    box-shadow: 1px 1px 5px #ccc;
    /* padding: 10px; */
    text-align: center;
}

.header h1 {
    margin: 0;
    font-size: 2rem;
}

/* Footer styles */
.footer {
    font-family: Arial, sans-serif;
    background-color: #343a40;
    color: #ffffff;
    padding: 3px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin: 0;
    font-size: 0.9rem;
}

/* Main content area */
main {
    flex: 1;
    padding: 20px;
}